.Caja{
    border: 1px solid #3498db;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px; /* Rounded corners */
    margin: 5px; /* Add spacing between boxes */
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.PermsBoton {
    width: 25px;
    height: 25px;
    padding: 0%;
    background-color: transparent;
}

.PermsImagen{
    width: 100%;
    height: 100%;
}


#CajaHijos {}

#CajaPadres {}

#CajaMenu {}
