.Caja{
    border: 1px solid #3498db;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px; /* Rounded corners */
    margin: 5px; /* Add spacing between boxes */
}

#CajaHijos {}

#CajaPadres {}

#CajaMenu {}
